h4 {
    font-size: 40px;
    font-family: cursive;
}

table {

    font-size: 25px;
    width: 100%;
    text-align: center;

    margin: 10px;
    box-shadow: darkred;
    padding: 10px;
    font-size: 25px;
    border-radius: 15 px;



}

thead {
    background-color: #a25757;
    color: white;
    font-size: 30px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin: 10px;
    box-shadow: darkred;
    padding: 10px;
    font-size: 25px;

    border-radius: 15px;
}

th,
td {
    border: solid 4px white;
    max-width: fit-content;

    text-align: center;
    border-collapse: collapse;
    margin: 10px;
    box-shadow: darkred;
    padding: 10px;
    font-size: 30px;
    border-radius: 15px;
}

p {
    font-size: 25PX;
    font-family: 'Times New Roman', Times, serif;

}

footer {
    background-color: rgb(252, 199, 179)
}

.footer-mod {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    font-size: 30px;
    background-color: rgb(255, 225, 0);

}

